
* {
  box-sizing: border-box;
   }

body {
  font-family:sans-serif;
  margin: 25px;
  color: #222;
  background-color: #f5f5f5;
}

h2{
  font-weight: bold; 
}

p {
  /*max-width: 800px;*/
  display:flex;
  margin:10px;
}

form {
  margin: 0 40px 20px 0;
  padding: 15px;
  background-color:#9fe2bf;/*#87D37C;*/
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px;
}

input {
  display: block;
  margin-bottom:10px ;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
  height:30px;
}

input[type=submit] {
  margin-top:20px;
  font-size: 16px;
  border-radius: 3px;
  background-color: #E4F1FE;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFFEC4;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #FFFEC4;
  padding: 2px;
  display:block;
  margin:0 20px 0 30px;
}

#uname{
  margin-bottom:195px;
}
label{
font-size:12px}

footer{
font-size: 14px;
  text-align:center;
padding-top:30px;}